.ios .safe-area {
    padding-top: calc(constant(safe-area-inset-top) + 4px);
    padding-top: calc(env(safe-area-inset-top) + 4px);
}

.section {
    --padding-start: 0;
    --inner-padding-end: 0;

    .section-title {
        text-transform: uppercase;
        font-size: 13px;
        font-weight: 500 !important;
        line-height: 22px;
        margin: 0;
        letter-spacing: 0.2px;
    }

    a {
        text-decoration: none;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: var(--ion-color-primary);
        margin: 0;
    }
}

.item-title {
    font-weight: 500 !important;
    color: var(--ion-color-dark) !important;
}

.item-subtitle {
    color: var(--ion-color-medium) !important;
    font-weight: 300 !important;
    font-size: 13px !important;
}

.small-button {
    --border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 48px;
    height: 48px;
}

.story-button {
    --border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 52px;
    height: 52px;
    --padding-start: 0;
    --padding-end: 0;
    --box-shadow: none;
    --background: #eff3ff;

    ion-icon {
        font-size: 24px;
        color: var(--ion-color-primary);
    }
}

.swiper-pagination-bullet {
    background: #fff;
}

.onboarding .swiper-pagination-bullet {
    background: var(--ion-color-secondary) !important;
}

.swiper-slide img {
    width: max-content;
}

.gradient-button {
    --background: radial-gradient(circle at top left,
            var(--ion-color-secondary),
            var(--ion-color-primary));
}

.loading-wrapper {
    border-radius: 10px !important;
}

.loader-text {
    margin: 14px !important;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #6513e1;
    border-radius: 10px;
    left: 30%;
    animation: loader 2s infinite ease;
    margin-top: 14px;
}

.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #6513e1;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {
    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}

.modal-container .modal-wrapper {
    height: 65vh;
    width: 80vw;
    border-radius: 16px;
}

.buttons-modal .modal-wrapper {
    margin: 16px;
    height: 10vh;
    position: relative;
    top: 37vh;
    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.avatars {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    z-index: 1;
    margin-top: 8px;

    .avatar-item {
        margin: 0;
        padding: 0;
        position: relative;
        width: 16px;
    }

    li.avatar-item:nth-child(1) {
        z-index: 1;
    }

    li.avatar-item:nth-child(2) {
        z-index: 2;
    }

    li.avatar-item:nth-child(3) {
        z-index: 3;
    }

    li.avatar-item:nth-child(4) {
        z-index: 4;
    }

    li.avatar-item:nth-child(5) {
        z-index: 5;
    }

    img.avatar-img {
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 50%;
        display: block;
        height: 30px;
        width: 30px;
        max-width: 30px;
    }

    .avatar-numbers {
        border: 2px solid rgba(255, 255, 255, 1);
        border-radius: 50%;
        display: block;
        height: 30px;
        width: 30px;
        max-width: 30px;
        background: var(--ion-color-primary);
        text-align: center;
        line-height: 23px;

        span {
            color: #fff;
            font-size: 10px;
        }

        span::before {
            content: "+";
        }
    }
}


ion-input {
    --background: #f9f9f9;
    border-radius: 6px;
    --box-shadow: none;
    --placeholder-color: var(--ion-color-medium);
    padding: 2px 5px !important;
    font-size: 16px;
    margin-right: 4px;
}


ion-footer {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg,
            rgba(255, 255, 255, 1) 80%,
            rgba(255, 255, 255, 0.8998949921765581) 100%);
    background: -webkit-linear-gradient(0deg,
            rgba(255, 255, 255, 1) 80%,
            rgba(255, 255, 255, 0.8998949921765581) 100%);
    background: linear-gradient(0deg,
            rgba(255, 255, 255, 1) 80%,
            rgba(255, 255, 255, 0.8998949921765581) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#ffffff", GradientType=1);
    padding: 0 12px 12px 12px;
}

ion-item {
    --inner-padding-end: 0;
    --padding-start: 0;
}

.circle-btn {
    --border-radius: 50%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    width: 48px;
    height: 48px;
}

.user-container {
    ion-thumbnail {
        --border-radius: 10px;
        width: 42px;
        height: 42px;
    }

    .active {
        &::after {
            content: "";
            position: absolute;
            bottom: 9px;
            left: 32px;
            width: 10px;
            height: 10px;
            background-color: var(--ion-color-success);
            border-radius: 50%;
            border: 3px solid #fff;
        }
    }
}


.message {
    padding: 10px;
    font-size: 13px;
    color: #fff;
    margin-bottom: 10px;

    p {
        margin: 0 !important;
    }

    .time {
        text-align: right;
        color: var(--ion-color-light);
    }
}

.left-bubble {
    background: var(--ion-color-medium);
    border-radius: 0 14px 14px 14px;


}

.right-bubble {
    background: var(--ion-color-primary);
    border-radius: 14px 0 14px 14px;
}
