<ion-content [fullscreen]="true" class="ion-padding-horizontal">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="medium">Dashboard</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>

    </ion-row>
  </ion-grid>
  <div class="parent-wrapper">
    <div class="parent">

      @for (user of users; track user) {
      <div class="child">
        <m-tile [avatar]="user.userPicture" [name]="user.user" [live]="!user.seen" [active]="user.active" />
      </div>
      } @empty {
      No Dashboard item found
      }
    </div>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <form [formGroup]="messageForm" (ngSubmit)="submitMessage()">
    <ion-item lines="none">
      <ion-input type="text" placeholder="Write your message" formControlName="message" />
      <m-button></m-button>
    </ion-item>
  </form>
</ion-footer>
